.sub1 {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5vh;
  line-height: 34px;
  text-transform: uppercase;
  color: #101010;
}

.titulo1 {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 6vh;
  line-height: 7vh;
  text-transform: uppercase;
  color: #101010;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.sub2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5vh;
  line-height: 3vh;
  color: #a1aed4;
}

.card1 {
  box-shadow: 0px 1px 25px 19px rgba(33, 118, 240, 0.05);
  border-radius: 10px;
  height: auto;
  margin-bottom: 1vh;
}

.cardtitle {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2vh;
  line-height: 2vh;
  color: #000000;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cardtext {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5vh;
  line-height: 1.9vh;
  color: #000000;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.enlace {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 1.8vh;
  color: #2176f0;
  text-decoration: none;
  padding: 1rem;
}

.cardtitleprincipal {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3vh;
  line-height: 2vh;
  color: #000000;
  padding: 1.5rem;
}
.cardtextprincipal {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2vh;
  line-height: 142%;
  color: #000000;
  padding: 1.5rem;
}
.enlaceprincipal {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 2vh;
  color: #2176f0;
  text-decoration: none;
  padding: 1.5rem;
}

.titulo-swiper {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #101010;
  margin-top: -2vh;
  margin-bottom: 1vh;
}
.enlace2 {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  background: #2176f0;
  box-shadow: 0px 0px 16px rgba(33, 118, 240, 0.56);
  border-radius: 50px;
  padding-left: 3vh;
  padding-right: 3vh;
  margin-top: 1vh;
}

.btn-play {
  min-width: 80px;
  min-height: 30px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4fd1c5;
  background: linear-gradient(
    90deg,
    rgba(129, 230, 217, 1) 0%,
    rgba(79, 209, 197, 1) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.btn-play::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(80px + 12px);
  min-height: calc(80px + 12px);
  border: 6px solid #00ffcb;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.btn-play:hover,
.btn-play:focus {
  color: #313133;
  transform: translateY(-6px);
}

.btn-play:hover::before,
.btn-play:focus::before {
  opacity: 1;
}

.btn-play::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00ffcb;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.btn-play:hover::after,
.btn-play:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.btnespecial{
  position: absolute;
  z-index: 2;
  margin-top: -350px;
  left: 50%;
  transform: translate(-50%,-50%);
}



.modalcustomvideo{
  background-color: #2177f000;
  border: none;
}

@media (max-width: 1199px) {
  .btnespecial{
    margin-top: -250px;
  }
}
@media (max-width: 991px) {
  .btnespecial{
    margin-top: -180px;
  }
}
@media (max-width: 767px) {
  .btnespecial{
    margin-top: -130px;
  }
}
@media (max-width: 425px) {
  .btnespecial{
    margin-top: -90px;
  }
}
@media (max-width: 350px) {
  .btnespecial{
    margin-top: -70px;
  }
}